
body {
            font-family: "Rubik", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
            /* padding-top: 50px; */
            color: #272121;
            
        }

        /* header {
            background-color: #663399;
            color: white;
            padding: 15px;
        } */

        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            /* background-color: #323239; */
            color: #272121;
            /* border-radius: 20px; */
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
            position: relative; /* Ensure nav is positioned relative to container */
            
        }

        h4{
            color: #a160e1;
            font-weight: 400;
            font-size: 12px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        button {
            background-color: #663399;
            color: white;
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
        }

        .contact-info {
            display: none;
            margin-top: 20px;
        }


        img{
            width: 300px;
            border-radius: 15px;

        }

        .main{
            display: flex;
            ;
            width: 100%;
            text-align: center;
            justify-content:center;
            /* justify-items: center; */
            /* align-items: center; */
            margin-top: 0px;
            margin-bottom: 0;

        }

        p{
            padding: 20px 0;
            font-weight: 400;
            font-size: 24px;
            color: #2a2525; /* Changed from white to grey */
        }

       

        .nav{
            width: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 14px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1000;
            background-color: #ffffffcf;
            /* box-shadow: 0 2px 8px rgba(160,96,225,0.04); */
            padding: 20px 40px 10px 40px;
        }

        .nav-item{
            text-decoration: none;
            color: rgb(30, 21, 21);
            padding: 20px;
            
        }

        a:link{
            text-decoration: none;
            color: #663399;
            font-weight: 500;

        }


        a:hover{
            color: #a160e1;  
        }


        h2{
           /* margin-left: 50px; */
           margin-bottom: 0;
           /* color: #a02929e0; */
        }

        .cv{
            /* margin-left: 50px;    */
            margin-top: 10px;
            background-color:#8e54c8 ;
        }

        .name{
            font-family: 'Caveat', cursive;
            font-size: 30px;
            color: #a160e1;
        
        }

        ul{
        
        list-style: none;
        }

        .about{
            text-decoration: none;
            color: #663399;
            font-weight: 500;
            
            padding: 8px 15px;
            border-radius: 5px;
            margin-top: 10px;
            display: inline-block;
        }


        .titles{
            color: #a160e1;
            font-weight: 600;
            font-size: 48px;
        }

        .skills-label{
            font-weight: 700;
            color: #a160e1;
            margin-right: 10px;
        }   


        .p-project{
            text-align: justify;
            font-size: 16px;
            color: #272121;
            line-height: 1.6;
        }


        .footer
        {
            font-size: 14px;
            color: #a160e1;
            font-weight: 500;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }

        .h5_cards{
            color: #a160e1;
        }

        .skills-row {
        /* display: flex; */
        align-items: flex-start;
        /* margin-bottom: 0.3em; */
        
        }

        .skills-label {
        font-size: 20px;
        min-width: 4.5em;
        font-weight: bold;
        flex-shrink: 0;
        }

        .skills-text {
        flex: 1;
        font-size: 18px;
        padding: auto 0;
        color:  rgb(142, 141, 144);
         font-weight: 500;
        
        
        }

        .row, .my-5 {
            margin: 0 auto;
        }

